* {
    margin: 20px;
  }
  p {
    font-size: 30px;
  }
  #jd {
    font-size: 20px;
  }
  #graduate,
  #branch,
  #percent,
  #program,
  #error {
    font-size: 18px;
    font-weight: 800;
    font-family: cursive;
  }
  div {
    border: 0.5px solid black;
    width: 320px;
  }